extends ../layout

block content
  .container.margin-bottom-40
    ul.task-list
      li.create-task.clearfix.grow
        i.fui-plus.add-task
        input.fade.slide(type='text' placeholder='Task Name (required)' name='title' maxlength=70)
        .textarea-container
          textarea.fade.slide(placeholder='Describe your task' name='body' maxlength=270)
        button.green.create-task-button.background-less.fade.slow Create Task
        button.cancel-task-button.background-less.fade.slow Cancel
      li.margin-bottom-20
        form(action='/tasks' method='get')
          .input-with-icon
            if query
              a(href='/tasks' class='fui-cross')
            else
              i.fui-search
            input(type='text' name='q', value=query placeholder='Search')
      each task in tasks
        li.task.slide.grow.transition-all.in(data-task=task.id)
          .task-action(class= task.finished() ? 'finished' : '')
          h5.no-margin.red.task-title= task.title
          input(type='text' name='title' value=task.title maxlength=70)
          textarea(maxlength=70)= task.body
          button.update-task.background-less.full-width Update Task
          .task-description= task.body
          .task-actions
            i.fui-new.edit-task
            i.fui-cross.delete-task
      li.fade.no-tasks There are currently no tasks


  script
    | new Tasky.Tasks.Index();